<div *ngIf='registrationErrors.length'>
    <ul>
        <li *ngFor='let error of registrationErrors'> {{error}}</li>
    </ul>
</div>

<fieldset>
    <legend>Register</legend>
    <form (submit)='onSubmit(register.value)' #register='ngForm' class='form-group'>
        <div class='form-control'>
            <label for="username">Username: </label>
            <input type="text" name='username' size="60" placeholder="Username" #name='ngModel' [(ngModel)]='user.username' required minlength="2">
        </div>
        <div class='form-control'>
            <label for="email">Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="email" name='email' size="60" placeholder="Email" #email='ngModel' [(ngModel)]='user.email' required minlength="6">
        </div>
        <div class='form-control'>
            <label for="password">Password: </label>
            <input type="password" name="password" size="60" placeholder="Password- must be at least 8 characters" [(ngModel)]='user.password' #password='ngModel' required minlength="8" maxlength="25">
        </div>
        <div>
            <button *ngIf='register.valid'>Register</button>
        </div>
    </form>
</fieldset>